/*
    Demo for this article:
    http://blustemy.io/creating-a-table-of-contents-in-javascript/
*/

.body {
    font-family: "Arial", sans-serif;
}



.hsg-rich-text__wrapper code {

padding: 1rem;
    background-color: #efefef;
    display: block;
    border: 1px solid #ccc;
    font-family: 'Courier';
    font-size: 1rem;
    border-radius: 3px;
}

.hsg-rich-text__wrapper pre {
    position: absolute;
    width: 150px;
    padding: 20px 0;
    border-top: 3px solid #ff7a59;
    border-bottom: 3px solid #ff7a59;
    font-size: 1.5rem;
    line-height: 33px;
    margin-top: 53px;
    left: 50px;
    white-space: pre-wrap;
}
