/*
    Demo for this article:
    http://blustemy.io/creating-a-table-of-contents-in-javascript/
*/

.body {
    font-family: "Arial", sans-serif;
}

#container{
  width:960px;
  margin:0 auto;
  /*more CSS*/
}

.classes_screenshot {
  height: 30px;
  width: auto;
}
