/*
    Demo for this article:
    http://blustemy.io/creating-a-table-of-contents-in-javascript/
*/

.body {
    font-family: "Arial", sans-serif;
}



.classes_screenshot {
  height: 30px;
  width: auto;
}
